.sendArticlesContainer {
  width: 100%;
  height: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10vh;
  font : {
    size: 2vw;
  }
  mark {
    background-color: #ccc;
    padding: 0.5vh;
    margin: 1vw;
    align-self: center;
    justify-self: center;
    transition: 0.5s all ease;
    &:hover {
      background-color: transparent;
      color: #000 !important;
    }
    a {
      color: rgb(0, 0, 128) !important;
      &:hover {
        background-color: transparent;
      }
      font : {
        size: 110%;
      }
    }
  }
}
