.mainContainer {
  .middy {
    width: max-content;
    text-align: right;
    position: relative;
    top: 5vh;
    display: flex;
    left: 80vw;
    margin-bottom: 1vh;
    text-align: right;
    direction: rtl;
    font : {
      size: 3vw;
    }
    transition: all 0.5s ease;
    &:hover {
      color: #64fe;
      transform: scale(1.1);
      background-color: transparent !important;
    }
    background-color: transparent !important;
  }
  .scrollIndicatiorContainer {
    width: 100vw;
    height: 1vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    background-color: transparent;
    .inner {
      width: 0;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0.1vh;
      background-color: #64f;
      border-top-right-radius: 1vw;
      border-bottom-right-radius: 1vw;
      transition: all 0.5s ease;
    }
  }
}

@media (max-width: 800px) {
  .mainContainer {
    .middy {
      width: 10%;
      color: #000;
      padding: 3vw;
      z-index: 500;
      font : {
        size: 8vw;
        left: 3%;
      }
    }
  }
}
