.newestContents {
  width: 100%;
  height: 80vh;
  display: flex;
  flex : {
    direction: row-reverse;
  }
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  transition: 1s all ease;
  a {
    color: #000;
    &:hover,
    &:active,
    &:disabled,
    &:visited {
      color: #000;
    }
    text-decoration: none;
    transition: 1s all ease;
  }
  .about,
  .name,
  .dateAndWrite {
    transition: 1s all ease;
    color: #fff;
    font : {
      weight: bold;
    }
  }
  .absoluteOverly {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.2;
    z-index: 0;
    transition: all 1s ease;
    &:hover {
      opacity: 0;
    }
  }
  .right {
    width: 50%;
    height: 100%;
    background : {
      size: cover;
      repeat: no-repeat;
      position: center;
    }
    position: relative;
    transition: 1s all ease;
    overflow: hidden;
    .about {
      width: 10vw;
      height: 5vh;
      background-color: #fdbf0c;
      position: absolute;
      top: 5vh;
      right: 5vw;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
    }
    .name {
      width: 80%;
      height: max-content;
      background-color: transparent;
      position: absolute;
      bottom: 7vh;
      right: 2vw;
      display: flex;
      flex : {
        direction: row;
      }
      align-items: center;
      justify-content: flex-end;
      transition: 1s all ease;
      font : {
        size: 2rem;
      }
    }
    .dateAndWrite {
      width: max-content;
      height: max-content;
      background-color: transparent;
      position: absolute;
      bottom: 2vh;
      right: 2vw;
      display: flex;
      flex : {
        direction: row-reverse;
      }
      align-items: center;
      justify-content: flex-start;
      transition: 1s all ease;
    }
    transition: 1s all ease;
  }
  .left {
    width: 50%;
    height: 100%;
    .top {
      width: 100%;
      height: 50%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

      .left {
        width: 50%;
        height: 100%;
        position: relative;
        background : {
          size: cover;
          repeat: no-repeat;
          position: center;
        }

        .about {
          width: 8vw;
          height: max-content;
          background-color: #fdbf0c;
          position: absolute;
          top: 2vh;
          right: 1vw;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bold;
        }
        .name {
          width: 80%;
          height: max-content;
          background-color: transparent;
          position: absolute;
          bottom: 7vh;
          right: 2vw;
          display: flex;
          flex : {
            direction: row;
          }
          align-items: center;
          justify-content: flex-end;
          text-align: right;
          transition: 0.5s all ease;

          font : {
            size: 1.1rem;
          }
        }
        .dateAndWrite {
          width: 80%;
          height: max-content;
          background-color: transparent;
          position: absolute;
          bottom: 2vh;
          right: 2vw;
          display: flex;
          flex : {
            direction: row-reverse;
          }
          align-items: center;
          justify-content: flex-start;
          font : {
            size: 1vw;
          }
        }
      }
      .right {
        width: 50%;
        height: 100%;
        position: relative;
        background : {
          size: cover;
          repeat: no-repeat;
          position: center;
        }
        .about {
          width: 8vw;
          height: max-content;
          background-color: #fdbf0c;
          position: absolute;
          top: 2vh;
          right: 1vw;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bold;
        }
        .name {
          width: 80%;
          height: max-content;
          background-color: transparent;
          position: absolute;
          bottom: 7vh;
          right: 2vw;
          display: flex;
          flex : {
            direction: row;
          }
          align-items: center;
          justify-content: flex-end;
          text-align: right;
          font : {
            size: 1.1rem;
          }
          transition: 0.5s all ease;
        }
        .dateAndWrite {
          width: 80%;
          height: max-content;
          background-color: transparent;
          position: absolute;
          bottom: 2vh;
          right: 2vw;
          display: flex;
          flex : {
            direction: row-reverse;
          }
          align-items: center;
          justify-content: flex-start;
          font : {
            size: 1vw;
          }
        }
      }
    }
    .bottom {
      width: 100%;
      height: 50%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      .left {
        width: 50%;
        height: 100%;
        position: relative;
        background : {
          size: cover;
          repeat: no-repeat;
          position: center;
        }
        .about {
          width: 8vw;
          height: max-content;
          background-color: #fdbf0c;
          position: absolute;
          top: 2vh;
          right: 1vw;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bold;
        }
        .name {
          width: 80%;
          height: max-content;
          background-color: transparent;
          position: absolute;
          bottom: 7vh;
          right: 2vw;
          display: flex;
          flex : {
            direction: row;
          }
          align-items: center;
          justify-content: flex-end;
          text-align: right;
          transition: 0.5s all ease;

          font : {
            size: 1.1rem;
          }
        }
        .dateAndWrite {
          width: 100%;
          height: max-content;
          background-color: transparent;
          position: absolute;
          bottom: 2vh;
          right: 2vw;
          display: flex;
          flex : {
            direction: row-reverse;
          }
          align-items: center;
          justify-content: flex-start;
          font : {
            size: 1vw;
          }
        }
      }
      .right {
        width: 50%;
        height: 100%;
        position: relative;
        background : {
          size: cover;
          repeat: no-repeat;
          position: center;
        }
        .about {
          width: 8vw;
          height: max-content;
          background-color: #fdbf0c;
          position: absolute;
          top: 2vh;
          right: 1vw;
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: bold;
        }
        .name {
          width: 80%;
          height: max-content;
          background-color: transparent;
          position: absolute;
          bottom: 7vh;
          right: 2vw;
          display: flex;
          flex : {
            direction: row;
          }
          align-items: center;
          justify-content: flex-end;
          text-align: right;
          font : {
            size: 1.1rem;
          }
          transition: 0.5s all ease;
        }
        .dateAndWrite {
          width: 100%;
          height: max-content;
          background-color: transparent;
          position: absolute;
          bottom: 2vh;
          right: 2vw;
          display: flex;
          flex : {
            direction: row-reverse;
          }
          align-items: center;
          justify-content: flex-start;
          font : {
            size: 1vw;
          }
          transition: 0.5s all ease;
        }
      }
    }
  }
}

#topLeft,
#topRight,
#bottomLeft,
#bottomRight,
#rightBigItem {
  &:hover {
    .name,
    .dateAndWrite {
      transition: 1s all ease;
      background-color: rgba(155, 48, 182, 0.7);
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      padding: 0.5rem;
      border-radius: 2rem;
      width: 90%;
      left: 5%;
      font : {
        size: 1.2rem;
      }
      color: #fff;
      bottom: 25%;
    }
    .dateAndWrite {
      bottom: 5%;
    }
  }
}

#rightBigItem {
  &:hover {
    .name {
      bottom: 15%;
    }
    .dateAndWrite {
      bottom: 5%;
    }
  }
}
@media (max-width: 800px) {
  .newestContents {
    width: 100%;
    height: 250vh;
    display: flex;
    flex : {
      direction: column;
    }
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 3vw;

    .right {
      width: 100%;
      height: 50vh;
      display: flex;
      .about {
        width: 30vw;
        top: 2vh;
      }
      .name {
        font : {
          size: 1.2rem;
        }
      }
      .absoluteOverly {
        opacity: 0.5;
      }
      .dateAndWrite {
        font : {
          size: 0.8rem;
        }
      }
    }
    .left {
      width: 100%;
      height: 200vh;

      display: flex;
      flex : {
        direction: column;
      }

      .top {
        width: 100%;
        height: 100vh;
        display: flex;
        flex : {
          direction: column;
        }
        .left,
        .right {
          width: 100%;
          height: 50vh;
          margin: {
            top: 1vh;
          }
          .about {
            width: 30vw;
            height: 5vh;
            top: 2vh;
          }
          .name {
            font : {
              size: 1rem;
            }
          }
          .absoluteOverly {
            opacity: 0.5;
          }
          .dateAndWrite {
            font : {
              size: 0.8rem;
            }
          }
        }
      }
      .bottom {
        width: 100%;
        height: 100vh;
        display: flex;
        flex : {
          direction: column;
        }
        .left,
        .right {
          width: 100%;
          height: 50vh;
          margin: {
            top: 1vh;
          }
          .about {
            width: 30vw;
            height: 5vh;
            top: 2vh;
          }
          .name {
            font : {
              size: 1rem;
            }
          }
          .absoluteOverly {
            opacity: 0.5;
          }
          .dateAndWrite {
            font : {
              size: 0.8rem;
            }
          }
        }
      }
    }
  }
}
